<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark rgba-brown-strong">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLinkActive="active"
          routerLink="">
          <img src="https://firebasestorage.googleapis.com/v0/b/blog-angular-training.appspot.com/o/all_pictures%2Ffood-and-restaurant.svg?alt=media&token=60b55c96-d5fa-4505-bf25-52026e2ef324" width="30" height="30" alt="" style="margin-top: 7px"></a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li [ngClass]="{ 
                'nav-item' : true,
                'active' : this.router.url === '/'
              }"
            >
                <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="active"
          routerLink="">
                Acceuil
                <span class="sr-only">(current)</span></a>
            </li>
            <li [ngClass]="{ 
                'nav-item' : true,
                'active' : this.router.url === '/posts'
              }">
                <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="active"
                  routerLink="posts">Articles</a>
            </li>
            <li [ngClass]="{ 
                'nav-item' : true,
                'active' : this.router.url === '/calendar'
              }">
                <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="active"
                routerLink="calendar"
                hidden="true">Calendrier</a>
            </li>
            <li [ngClass]="{ 
                'nav-item' : true,
                'active' : this.router.url === '/signIn'
              }">
                <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="active" 
            *ngIf="!isAuth"
          routerLink="signIn">Se connecter</a>
            </li>
            <li [ngClass]="{ 
                'nav-item' : true,
                'active' : this.router.url === '/creatPost'
              }">
                <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="active"
                *ngIf="isAuth"
                routerLink="creatPost">Créer Article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLinkActive="active"
                routerLink=""(click)="onSignOut()"
               style="cursor:pointer"
               *ngIf="isAuth">Déconnexion</a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->