#yellowStyle{
	background-color: #f8b020;
}

#orangeStyle{
	background-color: #e97a0e;
}

#brownStyle{
	background-color: #8d7b5c;
}

.miniatureStyle{
	background-color: #f8b020;
	color : black;
	padding-top: 10px;
	padding-bottom: 10px;
	paddin-left:5px;
	paddin-right:5px;
	border-radius: 3px;
}